<html>
    <head>
        <script type="text/javascript">
            function askForConfirmation(){
                if(confirm("Are you sure you want to {{ confirmation }}?")){
                    document.confirmation.submit();
                } else {
                    window.location = '/';
                }
            }
        </script>
    </head>
    
    <body onLoad='askForConfirmation()'>
        <form name='confirmation' action='/{{ action }}' method='post'>
        {% for pair in post_variables.items %}
            <input type='hidden' name='{{ pair.0 }}' value='{{ pair.1 }}' />
        {% endfor %}
        </form>
    </body>
</html>