<html>
    <head>
        <script type="text/javascript" src="/static/js/dontspamme.js"></script>
        <script type="text/javascript" src="/static/js/dontspamme.action.js"></script>
        <script type="text/javascript">
            function askForConfirmation(){
                dontspamme.action.confirm("{{ confirmation }}")
            }
        </script>
    </head>
    
    <body onLoad="askForConfirmation()">
        <form name='confirmation' action='/{{ action }}' method='post'>
        {% for pair in post_variables.items %}
        
        <input type='hidden' name='{{ pair.0 }}' value='{{ pair.1 }}' />
        {% endfor %}
        </form>
    </body>
</html>