body {
    font-family: sans-serif;
}

form {
    margin: 0px;
}

a {
    text-decoration: none;
}

.row {
    margin: 8px 0px 8px 2px;
    padding: 4px;
    border: 1px solid #eee;
}

.title {
    text-transform: uppercase;
    /* text-decoration: underline; */
    font-weight: bold;
    font-size: 13px;
}

.subtitle {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 11px;
    color: #999;
}
.subtitle a {
    text-transform: uppercase;
    font-size: 11px;
}
.subtitle a:hover {
    text-decoration: line-through;
}
.subtitle a:visited {
    color: #999;
}

.actions {
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 11px;
}

table {
    border-spacing:0px;
}