<html>
    <head>
        <script type="text/javascript" src="/static/js/dontspamme.js"></script>
        <script type="text/javascript" src="/static/js/dontspamme.page.js"></script>
        
        <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
    </head>

    <body>
        {% for pseudo in pseudos %}
        <div class='row'>
            <div class="title">{{ pseudo.mask }}@{{ mail_domain }}</div>
            
            <table class='subtitle'>
                <tr>
                    <td>
                        <form action='/deletedomain' method='post'>
                            (<input type='hidden' name='domain' />
                            <input type='hidden' name='mask' value="{{ pseudo.mask }}" />
                            {% for domain in pseudo.domains %}
                                <a href='#' onClick='dontspamme.page.submitWithValue(this.parentNode, "domain", "{{ domain }}")'>{{ domain }}</a>
                            {% endfor %}
                            )
                        </form>
                    </td>
                
                    <td>
                        <form action='/adddomain' method='post' >
                            <input type='hidden' name='domain' />
                            <input type='hidden' name='mask' value='{{ pseudo.mask }}' />
                            <a href='#' onClick='dontspamme.page.submitByPrompt(this.parentNode, "domain")'>+</a>
                        </form>
                    </td>
                </tr>
            </table>
            
            <table class='actions'>
                <tr>
                    <td>
                        <form action='/droppseudonym' method='post'>
                            <input type='hidden' name='mask' value='{{ pseudo.mask }}'/>
                            <a href='#' onClick='this.parentNode.submit()'>
                                {% if pseudo.should_drop %}
                                    Flag Spam
                                {% else %}   
                                    Drop Spam
                                {% endif %} 
                            </a>
                        </form>
                    </td>
                
                    <td>
                        <form action='/deletepseudonym' method='post'>
                            <input type='hidden' name='mask' value='{{ pseudo.mask }}' />
                            <a href='#' onClick='this.parentNode.submit()'>Delete Email</a>
                        </form>
                    </td>
                </tr>
            </table>
        </div>
        {% endfor %}
        
        <form action='/addpseudonym' method='post'>
            <input id='generate' type="hidden" name='domain' />
            <a href='#' class="actions" onClick='dontspamme.page.submitByPrompt(this.parentNode, "domain")'>Generate New Pseudonym</a>
        </form>
    </body>
</html>
